:root {
    --navy: #051c3c;
    --navy-light: #083169;
    --navy-half-opacity: rgba(5,28,60,.5);
    --teal: #1ca7be;
    --gold: #ae9550;
    --bg: #e4fcff;
}
body {
    color: var(--navy);
    background-color: var(--bg);
}
main {
    padding: 8px;
}
nav, .navbar-brand, .nav-link {
    background-color: var(--navy);
    color: var(--teal);
}
.navbar-brand:hover, .nav-link:hover {
    color: var(--gold);
}
.navbar-brand > img {
    height: 2em;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
a {
    text-decoration: none;
    color: var(--navy);
}
.card {
    background-color: var(--navy-half-opacity);
    margin: 1em;
}
.card-body {
    color: var(--gold);
    background-color: var(--navy);
}
.card-images {
    height: 286px;
    display: flex;
}
.card-images > img {
    height: 286px;
    border: 2px solid var(--navy);
}
#portrait {
    height: 400px;
    border-radius: 100vw;
    max-width: 60vw;
    max-height: 60vw;
}
.btn {
    background-color: var(--navy);
    color: var(--teal);
}
.btn:hover {
    background-color: var(--navy-light);
    color: var(--teal);
}
.lead {
    margin: auto;
    max-width: 1000px;
}